:root {
  --backgroundColor: #c0c0c0;
  --fontColor: #000000;
  --headerColor: #ffffff;
  --footerColor: #7e1313;

  --borderSearch: 10px
}

 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

body {
  background-color: var(--backgroundColor); 
  color: var(--fontColor);
}

a{
  outline: none;
}