:root {
  --backgroundColor: #ffffff;
  --fontColor: #000000;

  --headerColor: #ffffff;
  --headerSecondColor: #dfac02;
  --footerColor: #7e1313;

  --borderSearch: 10px
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

#root{
  width: 100%;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  margin: 0;  
  display: flex;
  justify-content: center;  
  align-items: flex-start;  
}